<section id="listado-listas">
    <div class="container mt-3">
        <button type="button" class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#nuevaListaModal">Nueva lista</button>
        <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action" *ngFor="let lista of listas">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{ lista.nombre }}</h5>
                    <div>
                        <button type="button" class="btn btn-outline-dark">Editar</button>
                        <button type="button" class="btn btn-outline-danger">Eliminar</button>
                    </div>
                </div>
                <small class="text-muted">{{ lista.descripcion }}</small>
            </a>
        </div>
    </div>
</section>

<!-- Modal -->
<div class="modal fade" id="nuevaListaModal" tabindex="-1" aria-labelledby="nuevaListaLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="nuevaListaLabel">Nueva lista</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" #botonCerrar></button>
            </div>
            <div class="modal-body">
                <flash-messages></flash-messages>
                <form #listaForm="ngForm" (ngSubmit)="agregarLista(listaForm.form)">
                    <div class="mb-3">
                        <label for="nombre" class="form-label">Nombre</label>
                        <input 
                            type="text" 
                            class="form-control" 
                            id="nombre" 
                            name="nombre"
                            required 
                            [(ngModel)] = "lista.nombre"
                            #nombre = "ngModel"
                            [ngClass]="{'is-invalid': nombre.errors && nombre.touched}"
                        >
                        <div [hidden]="!nombre.errors?.['required']" class="invalid-feedback">Por favor ingresa el nombre</div>
                    </div>
                    <div class="mb-3">
                        <label for="descripcion" class="form-label">Descripción</label>
                        <input 
                            type="text" 
                            class="form-control" 
                            id="descripcion" 
                            name="descripcion"
                            required 
                            [(ngModel)] = "lista.descripcion"
                            #descripcion = "ngModel"
                            [ngClass]="{'is-invalid': descripcion.errors && descripcion.touched}"
                        >
                        <div [hidden]="!descripcion.errors?.['required']" class="invalid-feedback">Por favor ingresa la descripción</div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Atrás</button>
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>