<section id="titulo-lista">
    <div class="container">
        <div class="row justify-content-between">
            <a class="link-secondary mt-3 col-2" routerLink="/">
                <i class="fas fa-chevron-left"></i>
            </a>
            <h3 class="mt-3 col-8 text-center">{{lista.nombre}}</h3>
            <div class="nav-item dropdown mt-3 col-2 text-end">
                <a 
                    class="link-secondary"
                    href="#"
                    id="navbarDropdown"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                >
                    <i class="fas fa-ellipsis-v"></i>
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#editarListaModal" (click)="cargarDatos()">Editar</a></li>
                    <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#confirmacionModal" (click)="cargarDatos()">Eliminar</a></li>
                </ul>
            </div>
            </div>
        <hr>
    </div>
</section>

<section id="items">
    <div class="container">
        
        <ul class="list-group mt-3">
            <li class="list-group-item" *ngFor="let item of items.items">{{ item }}</li>
        </ul>
        <div class="row justify-content-center">
            <a class="btn btn-primary rounded-pill mt-3 col-4">
                <i class="fas fa-plus"></i> Nuevo
            </a>
        </div>
    </div>
</section>

<!-- Editar lista modal -->
<div class="modal fade" id="editarListaModal" tabindex="-1" aria-labelledby="editarListaLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editarListaLabel">Editar lista</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" #botonCerrarEdit></button>
            </div>
            <div class="modal-body">
                <flash-messages></flash-messages>
                <form #listaForm="ngForm" (ngSubmit)="editarLista(listaForm.form)">
                    <div class="mb-3">
                        <label for="nombre" class="form-label">Nombre</label>
                        <input 
                            type="text" 
                            class="form-control" 
                            id="nombre" 
                            name="nombre"
                            required 
                            [(ngModel)] = "lista.nombre"
                            #nombre = "ngModel"
                            [ngClass]="{'is-invalid': nombre.errors && nombre.touched}"
                        >
                        <div [hidden]="!nombre.errors?.['required']" class="invalid-feedback">Por favor ingresa el nombre</div>
                    </div>
                    <div class="mb-3">
                        <label for="descripcion" class="form-label">Descripción</label>
                        <input 
                            type="text" 
                            class="form-control" 
                            id="descripcion" 
                            name="descripcion"
                            required 
                            [(ngModel)] = "lista.descripcion"
                            #descripcion = "ngModel"
                            [ngClass]="{'is-invalid': descripcion.errors && descripcion.touched}"
                        >
                        <div [hidden]="!descripcion.errors?.['required']" class="invalid-feedback">Por favor ingresa la descripción</div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Atrás</button>
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Confirmación modal -->
  <div class="modal fade" id="confirmacionModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Eliminar lista</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" #botonCerrarConfirmar></button>
        </div>
        <div class="modal-body">
          Seguro que desea eliminar {{lista.nombre}}?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary" (click)="eliminarLista()">Eliminar</button>
        </div>
      </div>
    </div>
  </div>